//  name   : cont2_sass.scss
//  writer : DaichiSeki
//  date   : 2017/03/01〜
@charset "UTF-8";

@import "include/variables";
@import "include/mixin";


#content2 {

    .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // min-height: 500px;
        margin: auto;
        padding: 0 5%;
        box-sizing: border-box;
        font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
        @include mq-down(md){
            // min-height: 700px;
        }

        .heading2 {
            padding: 2em 0 0;
            text-align: center;
            color: #fff;
            @include font-size(65);

			@include mq-down(lg) {
				@include font-size(62);
			}

			@include mq-down(md) {
				@include font-size(45);
			}

			@include mq-down(sm) {
				@include font-size(42);
			}
        }
    }
}

//  各スライドごとの設定
#content2 {
    .event {
        position: relative;
        max-width: 1000px;
        min-height: 500px;
        height: 100%;
        margin: 0 auto;
		padding: 0 1em;

        .slide_left {
            position: relative;
            width: 45%;
            height: 100%;
            float: left;
            @include mq-down(md){
                width: 100%;
                height: 100px;
                margin: 0 auto;
                box-sizing: border-box;
                float: none;
            }

            .image {
                position: absolute;
                top: -30%;
                right: 0;
                bottom: 0;
                left: 0;
                width: 80%;
                height: auto;
                margin: auto;
                @include mq-down(md){
					top: 0;
					margin-top: 10%;
                    width: 50%;
                }
				@include mq-down(sm){
					top: 0;
					margin-top: 20%;
				}
            }
        }

        .slide_right {
            position: relative;
            width: 55%;
            height: 100%;
            float: left;
            @include mq-down(md){
                width: 100%;
                height: 400px;
                float: none;
                text-align: center;
            }

            .sentence {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 62%;
                margin: auto;
                padding: 0 0 0 5%;
                box-sizing: border-box;
                line-height: 1.5;
                color: #eee;
                @include font-size(18);
                @include mq-down(sm){
                    bottom: auto;
                    @include font-size(12);
                }

                &__block {
                    display: block;
                }

                //  2行分
                .two_line {
                    margin: 0 0 3% 0;
                }
            }
        }
    }


    //  スライド2枚目
    .cloth {
        position: relative;
        max-width: 1000px;
        min-height: 500px;
        height: 100%;
        margin: 0 auto;

        .slide_left {
            position: relative;
            width: 50%;
            height: 100%;
            float: left;

            .handle {
                margin: 10% 0 0 0;
                &__image {
                    width: 42%;
                    margin: 0 3% 0 5%;
                    text-align: center;
                    float: left;
                    &:last-child {
                        margin: 0 5% 0 3%;
                    }
                    &__left {
                        width: 96%;
                        height: auto;
                    }

                    &__right {
                        width: 93%;
                        height: auto;
                    }
                }
            }
        }

        .slide_right {
            position: relative;
            width: 50%;
            height: 100%;
            float: left;

            .mannequin {
                margin: 10% 0 0 0;
                &__image {
                    width: 42%;
                    margin: 0 3% 0 5%;
                    text-align: center;
                    float: left;
                    &:last-child {
                        margin: 0 5% 0 3%;
                    }
                    &__left {
                        width: 100%;
                        height: auto;
                    }

                    &__right {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .slide_left,.slide_right {
            .sentence {
                padding: 5% 9% 0 9%;
                box-sizing: border-box;
                line-height: 2;
                color: #eee;
                @include font-size(12);

                &__block {
                    display: block;
                }
            }
        }
    }


    //  スライド3枚目
    .brand {
        position: relative;
        max-width: 1000px;
        // min-height: 500px;
        height: 100%;
        margin: 0 auto;

        &__image {
            position: absolute;
            top: 23%;
            right: 0;
            left: 0;
            width: 300px;
            height: auto;
            margin: auto;
            @include mq-down(lg){
                width: 200px;
                height: auto;
            }
            @include mq-down(md){
                top: 8%;
            }
			@include mq-down(sm){
				top: 4%;
                width: 50%;
				height: auto;
            }
        }

        &__sentence {
            position: absolute;
            line-height: 1.5;
            color: #eee;
            @include font-size(18);
            @include mq-down(lg){
                @include font-size(14);
            }
			@include mq-down(sm){
				@include font-size(12);
			}


            &--line {
                display: block;
            }
        }

        // 各文章の位置調整
        .sentence01 {
            top: 20%;
            left: 7%;
            text-align: right;
            @include mq-down(lg){
                top: 15%;
                left: 2%;
            }
            @include mq-down(md){
                top: 33%;
                right: 0;
                left: 0;
                text-align: center;
            }
			@include mq-down(sm){
                top: 24%;
                right: 0;
                left: 0;
                text-align: center;
            }
        }
        .sentence02 {
            top: 30%;
            left: 65%;
            @include mq-down(lg){
                top: 27%;
            }
            @include mq-down(md){
                top: 44%;
                right: 0;
                left: 0;
                text-align: center;
            }
			@include mq-down(sm){
                top: 36%;
                right: 0;
                left: 0;
                text-align: center;
            }
        }
        .sentence03 {
            top: 50%;
            left: 70%;
            @include mq-down(lg){
                top: 40%;
            }
            @include mq-down(md){
                top: 55%;
                right: 0;
                left: 0;
                text-align: center;
            }
			@include mq-down(sm){
                top: 48%;
                right: 0;
                left: 0;
                text-align: center;
            }
        }
        .sentence04 {
            top: 58%;
            left: 7%;
            @include mq-down(lg){
                top: 50%;
            }
            @include mq-down(md){
                top: 66%;
                right: 0;
                left: 0;
                text-align: center;
            }
			@include mq-down(sm){
                top: 58%;
                right: 0;
                left: 0;
                text-align: center;
            }
        }
    }
}


//  swiperのcssに追加
#content2 {
    .swiper-container {
        height: 100%;

        .swiper-slide {
            padding: 0 5%;
            box-sizing: border-box;
        }
    }
}
